respirations/RespirationsComment/RespirationsComment/normalSeveritrDiag1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NormalSeverityDiag" type="complexType1">
  </xs:element>
  <xs:complexType name="complexType1">
    <xs:sequence>
      <xs:element minOccurs="6" maxOccurs="6" name="Result">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Effect" type="xs:boolean" />
            <xs:element name="plurality" type="xs:string" />
            <xs:element name="value" type="xs:string" />
          </xs:sequence>
          <xs:attribute name="id" type="xs:unsignedByte" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>