sleepEdit/protocols/protocol.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Protocol">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:byte" />
        <xs:element name="LinkId" type="xs:byte" />
        <xs:element name="LinkText" />
        <xs:element name="text" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="Section">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element name="LinkId" type="xs:byte" />
              <xs:element name="LinkText" />
              <xs:element name="text" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="SubSection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:unsignedByte" />
                    <xs:element name="LinkId" type="xs:short" />
                    <xs:element name="LinkText" type="xs:string" />
                    <xs:element name="text" type="xs:string" />
                    <xs:element minOccurs="0" name="SubText" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="SubSection">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:unsignedByte" />
                          <xs:element name="LinkId" type="xs:short" />
                          <xs:element name="LinkText" type="xs:string" />
                          <xs:element name="text" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="SubSection">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id" type="xs:unsignedByte" />
                                <xs:element name="LinkId" type="xs:unsignedByte" />
                                <xs:element name="LinkText" type="xs:string" />
                                <xs:element name="text" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>